.quiz {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: end;
}

.pageNumbers li{
  padding: 5px 10px;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: rgb(44, 42, 42);
  border-radius: 5px;
  color: white;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
}

.pageNumbers li button:hover {
  background-color: rgb(44, 42, 42);
  color: white;
  border-radius: 5px;
}

.pageNumbers li button:focus {
  outline: none;
}

.card:hover {
  box-shadow: 1px 1px 3px 2px;
}

.tabs__block {
  display: none;
}
.tabs__block:target {
  display: block;
  display: flex;
  margin: 50px auto;
}
.tabs__items{
  display: flex;
}
.tabs__item {
  margin: 0px 0px;
  flex: 0 1 33.333%;
}

.steps {
}
